/* Basic Reset */

html {
   box-sizing: border-box;
   font-size: 100%;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   
}

a:link,
a:visited,
a:hover,
a:visited {
   text-decoration: none;
   color: inherit;
}
